@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#Card {
  width: 292px;
  height: 440px;
  background-color: bisque;
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 0;
  margin-bottom: 30px
}

#Card img { 
  transition: all .2s linear; 
}

#Card:hover img{ 
  transform: scale(1.1); 
}

#Card_Blend {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,0.7));;
  width: 292px;
  height: 440px;
  position: absolute;
  z-index: 9;
}

#Card_Img {
  object-fit: cover;
  object-position: 50% 50%;
  align-self: center;
  width: 292px;
  height: 440px;
}

.tag {
  max-width: 244px;
}

.margin_tag {
  margin-left: 0px;
}

#Card_Tag {
  height: 24px;
  width: fit-content;
  background-color: rgba(15, 239, 253, 0.1);
  display: flex;
  border-radius: 0px 8px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#Card_Content {
  position: absolute;
  left: 24px;
  bottom: 24px;
  z-index: 10;
  line-height: 16px;
  transition: all .2s linear; 
}

#Card:hover #Card_Content {
  bottom: 48px;
}

#Card_Font_Tag {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: rgba(15, 239, 253, 1);
  align-self: center;
  margin: auto;
}

.text{
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.white {
  color: white;
  margin-right: 3px;
  margin-top: calc(50% - 16/2);
  margin-bottom: calc(50% - 16/2);
}

.tag_watch {
  position: absolute;
  bottom: 24px;
  left: 24px;
  max-width: 244px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: none;
  /* transition: all .2s linear;  */
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 0.5;
  animation-fill-mode: forwards;
  z-index: 15;
}

#Card:hover .tag_watch {
  display: flex;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.text_watch {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin: 0px;
}

.yellow {
  color: rgba(255, 233, 34, 1);
  margin-top: calc(50% - 16/2);
  margin-bottom: calc(50% - 16/2);
}

.star {
  text-align: left;
  margin-top: 11px;
}

.arrow {
  margin-left: 12px;
}