@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#Container {
  max-width: 1440px;
  margin: auto;
  background-color: #1D1D1D;
}

#Container_2 {
  padding-left: 0;
}

.movie_card {
  margin-left: 165px;
}

.text_left {
  text-align: left;
  margin-bottom: 24px;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.loader {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-top: 10px;
}

.container_loader {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spin-loader {
  width: 40px;
  height: 40px;
  margin: auto;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carausell {
  width: 1440px;
  height: 648px;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}